:root {
  --black-100: #111111;

  --white: #fafafa;

  --gray-100: #6b7a8f;
  --gray-200: #f2f2f2;
  --gray-300: #e5e5e5;

  --red: #eb4d4b;

  --yellow: #f6e58d;
  --orange: #f9ca24;

  --green: #badc58;

  --radius-100: 4px;
  --radius-200: 8px;

  --indent-100: 4px;
  --indent-200: 8px;
  --indent-300: 12px;
  --indent-400: 16px;
  --indent-500: 20px;
  --indent-600: 24px;
  --indent-700: 36px;

  --font-size-100: 12px;
  --font-size-150: 14px;
  --font-size-200: 16px;
  --font-size-300: 20px;
  --font-size-400: 24px;
  --font-size-500: 36px;

  --shadow-100: 0px 8px 24px rgba(0, 0, 0, 0.06);
}
